psycopg2
wtforms
sqlalchemy
certifi
chardet
Click
cycler
decorator
Django
doxypypy
Flask
Flask-WTF
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
kiwisolver
MarkupSafe
nbformat
numpy
pandas
Pillow
pyparsing
python-dateutil
pytz
PyYAML
requests
six
traitlets
urllib3
Werkzeug
wordcloud
gunicorn