{% extends "index.html" %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Time for completion</th>
            </tr>
        </thead>
        <tbody>

        {% for assignment in assignments %}
            <tr >
                <td>{{assignment.assignment_name}}</td>
                <td>{{assignment.assignment_description}}</td>
                <td>{{assignment.assignment_time}}</td>
                <td>
                    <button type="button" class="btn btn-warning" name="btn_edit_assignment" data-assignment_id="{{assignment.assignment_id}}">Edit</button>
                    <button type="button" class="btn btn-danger" name="btn_delete_assignment" data-assignment_id="{{assignment.assignment_id}}">Delete</button>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td> <button type="button" class="btn btn-success" name="btn_new_assignment">New Assignment</button> </td>
            </tr>
        </tbody>
    </table>
</div>

    <script src="{{ url_for('static', filename='js/assignment.js') }}"></script>

{% endblock %}
