{% extends "index.html" %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">User ID</th>
                <th scope="col">Path</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>

        {% for document in documents %}
            <tr >
                <td>{{document.document_id}}</td>
                <td>{{document.document_name}}</td>
                <td>{{document.user_id}}</td>
                <td>{{document.document_file_path}}</td>
                <td>{{document.document_upload_date}}</td>
                <td>
                    <button type="button" class="btn btn-warning" name="btn_edit_document" data-document_id="{{document.document_id}}">Edit</button>
                    <button type="button" class="btn btn-danger" name="btn_delete_document" data-document_id="{{document.document_id}}">Delete</button>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td> <button type="button" class="btn btn-success" name="btn_new_document">New Document</button> </td>
            </tr>
        </tbody>
    </table>
</div>

    <script src="{{ url_for('static', filename='js/documents.js') }}"></script>

{% endblock %}
