{% extends "index.html" %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Template ID</th>
                <th scope="col">Content</th>
            </tr>
        </thead>
        <tbody>

        {% for field in fields %}
            <tr >
                <td>{{field.field_id}}</td>
                <td>{{field.field_name}}</td>
                <td>{{field.template_id}}</td>
                <td>{{field.field_content}}</td>
                <td>
                    <button type="button" class="btn btn-warning" name="btn_edit_field" data-field_id="{{field.field_id}}">Edit</button>
                    <button type="button" class="btn btn-danger" name="btn_delete_field" data-field_id="{{field.field_id}}">Delete</button>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td> <button type="button" class="btn btn-success" name="btn_new_field">New Field</button> </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='js/fields.js') }}"></script>

{% endblock %}
