

{% extends "index.html" %}

{% block content %}


<div class="col-md-6 mx-auto">

    <!-- form card login -->
    <div class="card rounded-0">

        <div class="card-header">
            <h3 class="mb-0">Search</h3>
        </div>
        <div class="card-body">

            <form class="form"  action = "/search" method = post >
                {{ form.hidden_tag() }}


                <div class="form-group">
                    {{ form.worker_surname.label }}
                    {{ form.worker_surname}}
                    <br />
                    {{ form.assignment_name.label }}
                    {{ form.assignment_name}}
                </div>


                {{ form.submit(class_="btn btn-success") }}
            </form>
        </div>
        <!--/card-block-->
    </div>
    <!-- /form card login -->

</div>

{% if result %}
<h3>Search result</h3>

 <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Assignment name</th>
                            <th scope="col">Deadline</th>
                            <th scope="col">Assignment time</th>
                            <th scope="col">Completion time</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in result %}
                        <tr >
                            <td> {{row[0]}} </td>
                            <td> {{row[1]}} </td>
                            <td> {{row[2]}} </td>
                            <td> {{row[3]}} </td>
                            <td> {{row[4]}} </td>
                            <td> {{row[5]}} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
{% endif %}



{% endblock %}
