{% extends "index.html" %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">E-email</th>
                <th scope="col">Password hash</th>
            </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr >
                <td>{{user.user_id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password_hash}}</td>
                <td>
                    <button type="button" class="btn btn-warning" name="btn_edit_user" data-user_id="{{user.user_id}}">Edit</button>
                    <button type="button" class="btn btn-danger" name="btn_delete_user" data-user_id="{{user.user_id}}">Delete</button>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td> <button type="button" class="btn btn-success" name="btn_new_user">New User</button> </td>
            </tr>
        </tbody>
    </table>
</div>

    <script src="{{ url_for('static', filename='js/users.js') }}"></script>

{% endblock %}
