{% extends "index.html" %}

{% block content %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full name</th>
                <th scope="col">Birth date</th>
                <th scope="col">Job title</th>
            </tr>
        </thead>
        <tbody>

        {% for worker in workers %}
            <tr >
                <td>{{worker.worker_name}} {{worker.worker_surname}} {{worker.worker_patronymic}}</td>
                <td> {{worker.worker_birth_date}} </td>
                <td>{{worker.worker_job_title}}</td>
                <td>
                    <button type="button" class="btn btn-warning" name="btn_edit_worker" data-worker_id="{{worker.worker_id}}">Edit</button>
                    <button type="button" class="btn btn-danger" name="btn_delete_worker" data-worker_id="{{worker.worker_id}}">Delete</button>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td> <button type="button" class="btn btn-success" name="btn_new_worker">New Worker</button> </td>
            </tr>
        </tbody>
    </table>
</div>

    <script src="{{ url_for('static', filename='js/worker.js') }}"></script>

{% endblock %}
